@import "../../SCSS/mediaQueries";
@import "../../SCSS/variables";

.iconBox {
  display: flex;

  width: auto;
  justify-content: space-around;
  align-items: center;

  img {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}
@media (min-device-width: 480px) and (max-device-height: 680px) and (orientation: landscape) {
  .iconBox {
    width: 100%;
    display: block;
    margin: auto;
    img {
      width: 20px;
      height: 20px;
    }
  }
}
