.landingPage {
  height: 100vh;
  width: 100vw;
  font-family: Poppins, sans-serif, Helvetica;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainBox {
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.infoBox {
  margin: 9rem 5rem 0rem 5rem;
  text-align: center;
}

.title {
  font: 400 2.7rem Poppins, sans-serif, Helvetica;
  color: #fdb550;
}

.mainText {
  margin: 2rem 0 2rem 0;
  font-size: 1.35rem;
  font-weight: 100;
}

.landingImage {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
}

.landingImage .landingImageDesktop {
  display: none;
}

.mainButton {
  background-color: white;
  color: #fdb550;
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 2rem;
  border: 2px solid #fdb550;
  border-radius: 30px;
  width: 12rem;
  height: 3.5rem;
}

.mainButton a {
  font-size: 1.3rem;
  color: #fec14f;
}

@media (max-width: 375px) {
  .infoBox {
    margin: 35% 2rem 0 2rem;
  }
  .landingImage .landingImageMobile {
    width: 70%;
  }
}

@media (min-width: 600px) {
  .landingPage {
    height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainBox {
    margin-top: 3rem;
    width: 80%;
    height: 25vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 5rem;
  }
  .infoBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    height: 100%;
    max-height: 25vh;
    width: 50%;
  }
  .mainText {
    margin: 1rem 0 1rem 0;
    height: 4rem;
    width: 11rem;
  }
  .mainButton {
    font-size: 1.5rem;
    margin-top: 3rem;
    width: 11rem;
  }
  .landingImage {
    position: relative;
    width: 50%;
  }
  .landingImage .landingImageMobile {
    display: block;
    height: 240px;
    width: 300px;
  }
}

@media (min-width: 992px) {
  .landingPage {
    height: 100vh;
  }
  .mainBox {
    width: 65%;
    height: 40vh;
  }
  .infoBox {
    padding: 0;
    max-height: 35vh;
    margin-top: 1.5rem;
    width: 50%;
  }
  .title {
    margin-right: 4rem;
    font-size: 3rem;
    width: 16rem;
  }
  .mainText {
    margin: 2rem 4rem 1rem 0;
    height: 6rem;
    width: 16rem;
    font-size: 1.4rem;
  }
  .mainButton {
    font-size: 1.5rem;
    margin: 2rem 4rem 0 0;
    width: 16rem;
  }
  .landingImage {
    width: 50%;
    margin-top: 1rem;
  }
  .landingImage .landingImageMobile {
    display: none;
  }
  .landingImage .landingImageDesktop {
    display: block;
    height: 284px;
    width: 378px;
    margin-left: -2rem;
  }
}
/*# sourceMappingURL=LandingPage.module.css.map */