.projectSection {
  height: 80vh;
  mmin-height: 568px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  text-align: center;
}

.projectSection h2 {
  margin: 7rem 0 0 0;
  font-size: 1.8rem;
}

.projectSection article {
  font-family: Poppins, sans-serif, Helvetica;
  margin: 0 2rem;
  padding: 1rem;
  font-weight: 300;
}

.navLink {
  cursor: pointer;
  font-weight: 600;
  display: inline-block;
}

.link {
  text-decoration: none;
}

.spanLine {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem auto 1rem auto;
  background-color: #fdb550;
  width: 3rem;
  height: 0.4rem;
  border-radius: 10px;
}

.offerImgUnique {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  width: 237px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8))), url("../../images/Unique-travel.png");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%), url("../../images/Unique-travel.png");
  margin: 3rem auto 2rem auto;
  border-radius: 15px;
}

.offerImgUnique a {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}

.offerImgVeggie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  width: 237px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8))), url("../../images/veggie.png");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%), url("../../images/veggie.png");
  background-position: right;
  border-radius: 15px;
  margin: 3rem auto 2rem auto;
}

.projectBox {
  text-decoration: none;
}

.projectName {
  font-family: Poppins, sans-serif, Helvetica;
  font-size: 1.2rem;
  font-weight: 300;
  color: white;
}

.projectname:visited {
  color: red;
}

.projectInfoBox {
  display: none;
}

@media (max-width: 360px) {
  .projectSection {
    height: auto;
  }
  .projectSection h2 {
    font-size: 1.7rem;
    margin: 4rem auto auto auto;
  }
  .projectSection article {
    font-size: 0.8rem;
    margin: 0 1rem;
  }
  .offerImgUnique {
    width: 200px;
  }
  .offerImgVeggie {
    width: 200px;
  }
}

@media (min-device-width: 480px) and (max-device-height: 680px) and (orientation: landscape) {
  .projectSection {
    height: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sideProjects {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: center;
  }
  .sideProjects .projectInfoBox {
    display: block;
    font-size: 0.8rem;
    margin: 1rem auto;
    font-family: Poppins, sans-serif, Helvetica;
    font-style: italic;
    font-weight: 200;
    text-align: center;
  }
  .projectName {
    font-size: 1rem;
  }
  .projectName a {
    text-decoration: none;
  }
  .mainBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 17rem;
    width: 90%;
    min-width: 400px;
  }
  .infoBox {
    margin: 0;
    width: 50%;
    text-align: left;
    height: 13rem;
    max-height: 13rem;
  }
  .infoBox h2 {
    margin: 0;
    font-size: 1.8rem;
  }
  .infoBox article {
    margin: 0;
    padding: 0 1rem 0 0;
    font-size: 0.9rem;
  }
  .infoBox .spanLine {
    margin: 1rem 0 1rem 0;
  }
  .projectBox {
    width: 140px;
    height: 13rem;
  }
  .projectInfoBox {
    margin-top: 1rem;
  }
  .projectInfoBox p {
    margin: 0 auto;
  }
  .projectName {
    color: white;
    margin: 0 auto;
  }
  .offerImgUnique {
    width: 120px;
    height: 50px;
    margin: auto;
  }
  .offerImgVeggie {
    width: 120px;
    height: 50px;
    margin: auto;
  }
}

@media (min-width: 600px) and (min-height: 400px) {
  .sideProjects {
    width: 50%;
    min-width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: center;
  }
  .sideProjects .projectInfoBox {
    display: block;
    font-size: 0.8rem;
    margin: 1rem auto;
    font-family: Poppins, sans-serif, Helvetica;
    font-style: italic;
    font-weight: 200;
    text-align: center;
  }
  .projectName a {
    text-decoration: none;
  }
  .mainBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 17rem;
    width: 90%;
    min-width: 580px;
  }
  .infoBox {
    margin: 0;
    width: 50%;
    text-align: left;
    height: 13rem;
    max-height: 13rem;
  }
  .infoBox h2 {
    margin: 0;
  }
  .infoBox article {
    margin: 0 2rem 0 0;
    padding: 0;
    min-width: 250px;
  }
  .infoBox .spanLine {
    margin: 1rem 0 1rem 0;
  }
  .projectSection {
    height: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projectBox {
    width: 130px;
    height: 13rem;
  }
  .projectInfoBox {
    margin-top: 1rem;
  }
  .projectInfoBox p {
    margin: 0 auto;
  }
  .projectName {
    color: white;
    margin: 0 auto;
  }
  .projectName p {
    font-size: 10rem;
  }
  .offerImgUnique {
    width: 130px;
    height: 70px;
    margin: 0;
  }
  .offerImgVeggie {
    width: 140px;
    height: 70px;
    margin: 0;
  }
}

@media (min-width: 992px) {
  .projectSection {
    height: 35vh;
    text-align: left;
  }
  .projectSection h2 {
    margin: 0;
    font-size: 2rem;
  }
  .mainBox {
    width: 65%;
    min-width: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 3rem 0 2rem 0;
  }
  .infoBox {
    width: 50%;
    height: 300px;
    max-height: 300px;
  }
  .infoBox article {
    margin: 0 8rem 0 0;
    font-size: 1.1rem;
  }
  .infoBox .spanLine {
    margin: 1rem 0 1rem 0;
  }
  .projectBox {
    width: 180px;
    height: 300px;
  }
  .sideProjects {
    width: 50%;
    min-width: 380px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .projectInfoBox p {
    font-family: Poppins, sans-serif, Helvetica;
    font-size: 1rem;
    font-weight: 100;
    margin-top: 2rem;
  }
  .activeVeggie {
    -webkit-animation: myAnimation 0.3s;
            animation: myAnimation 0.3s;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), url("../../images/veggie.png");
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("../../images/veggie.png");
  }
  .activeUniqueTravel {
    -webkit-animation: UniqueTravelAnimation 0.3s;
            animation: UniqueTravelAnimation 0.3s;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), url("../../images/Unique-travel.png");
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("../../images/Unique-travel.png");
  }
  @-webkit-keyframes myAnimation {
    0% {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7))), url("../../images/veggie.png");
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%), url("../../images/veggie.png");
    }
    25% {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../../images/veggie.png");
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url("../../images/veggie.png");
    }
    50% {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.3))), url("../../images/veggie.png");
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%), url("../../images/veggie.png");
    }
    75% {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.1))), url("../../images/veggie.png");
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%), url("../../images/veggie.png");
    }
    100% {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), url("../../images/veggie.png");
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("../../images/veggie.png");
    }
  }
  @keyframes myAnimation {
    0% {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7))), url("../../images/veggie.png");
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%), url("../../images/veggie.png");
    }
    25% {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../../images/veggie.png");
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url("../../images/veggie.png");
    }
    50% {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.3))), url("../../images/veggie.png");
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%), url("../../images/veggie.png");
    }
    75% {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.1))), url("../../images/veggie.png");
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%), url("../../images/veggie.png");
    }
    100% {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), url("../../images/veggie.png");
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("../../images/veggie.png");
    }
  }
  @-webkit-keyframes UniqueTravelAnimation {
    0% {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7))), url("../../images/Unique-travel.png");
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%), url("../../images/Unique-travel.png");
    }
    25% {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../../images/Unique-travel.png");
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url("../../images/Unique-travel.png");
    }
    50% {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.3))), url("../../images/Unique-travel.png");
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%), url("../../images/Unique-travel.png");
    }
    75% {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.1))), url("../../images/Unique-travel.png");
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%), url("../../images/Unique-travel.png");
    }
    100% {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), url("../../images/Unique-travel.png");
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("../../images/Unique-travel.png");
    }
  }
  @keyframes UniqueTravelAnimation {
    0% {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7))), url("../../images/Unique-travel.png");
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%), url("../../images/Unique-travel.png");
    }
    25% {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../../images/Unique-travel.png");
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url("../../images/Unique-travel.png");
    }
    50% {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.3))), url("../../images/Unique-travel.png");
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%), url("../../images/Unique-travel.png");
    }
    75% {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.1))), url("../../images/Unique-travel.png");
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%), url("../../images/Unique-travel.png");
    }
    100% {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), url("../../images/Unique-travel.png");
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("../../images/Unique-travel.png");
    }
  }
  .offerImgUnique {
    width: 180px;
    height: 70px;
    margin: 0 auto 0 auto;
  }
  .offerImgVeggie {
    width: 180px;
    height: 70px;
    margin: 0;
  }
}

@media (min-width: 1700px) {
  .projectSection {
    height: 60vh;
  }
  .projectSection h2 {
    font-size: 2.7rem;
  }
  .projectSection .infoBox {
    height: 400px;
    max-height: 500px;
  }
  .projectSection .infoBox article {
    font-size: 1.4rem;
  }
  .mainBox {
    max-width: 1500px;
  }
  .projectName {
    font-size: 1.4rem;
  }
  .projectInfoBox p {
    font-size: 1.2rem;
  }
  .projectBox {
    width: 220px;
    height: 400px;
  }
  .offerImgUnique {
    width: 220px;
    height: 90px;
  }
  .offerImgVeggie {
    width: 220px;
    height: 90px;
  }
}
/*# sourceMappingURL=Projects.module.css.map */