.projectSection {
  height: 85vh;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.projectSection h2 {
  font-size: 1.8rem;
}

.projectSection article {
  font-family: Poppins, sans-serif, Helvetica;
  margin: auto;
  padding: 1rem;
  font-weight: 400;
}

.spanLine {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem auto 1rem auto;
  background-color: #fdb550;
  width: 3rem;
  height: 0.4rem;
  border-radius: 10px;
}

.offerImgUnique {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  width: 237px;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8))), url("../../images/Unique-travel.png");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%), url("../../images/Unique-travel.png");
  margin: 3rem auto 2rem auto;
  border-radius: 20px;
}

.offerImgUnique a {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}

.offerImgVeggie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  width: 237px;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8))), url("../../images/veggie.png");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%), url("../../images/veggie.png");
  border-radius: 20px;
  margin: 3rem auto 2rem auto;
}

.offerImgVeggie a {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}

.sideProjects p {
  display: none;
}

@media (max-width: 375px) {
  .projectSection {
    height: 90vh;
  }
  .projectSection h2 {
    font-size: 1.7rem;
    margin: 4rem auto 0 auto;
  }
  .offerImgUnique {
    width: 200px;
  }
  .offerImgVeggie {
    width: 200px;
  }
}

@media (max-width: 375px) {
  .projectSection {
    height: 90vh;
  }
  .projectSection h2 {
    font-size: 1.7rem;
    margin: 4rem auto auto auto;
  }
  .projectSection p {
    margin: 2rem auto auto auto;
  }
  .offerImgUnique {
    width: 200px;
  }
  .offerImgVeggie {
    width: 200px;
  }
}

@media (min-width: 600px) {
  .sideProjects {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .sideProjects p {
    width: 90%;
    display: block;
    font-size: 0.8rem;
    font-family: Poppins, sans-serif, Helvetica;
    font-style: italic;
  }
  .projectBox {
    width: 140px;
    height: 13rem;
  }
  .infoBox {
    margin: 0;
    width: 50%;
    text-align: left;
    height: 13rem;
    max-height: 13rem;
  }
  .infoBox article {
    margin: 0 2rem 0 0;
    padding: 0;
  }
  .infoBox .spanLine {
    margin: 1rem 0 1rem 0;
  }
  .projectSection {
    height: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projectSection p {
    padding-top: 1rem;
    margin: 0 2rem 1rem 0;
  }
  .mainBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 17rem;
    width: 100%;
  }
  .offerImgUnique {
    width: 140px;
    height: 70px;
    margin: 0;
  }
  .offerImgVeggie {
    width: 140px;
    height: 70px;
    margin: 0;
  }
}

@media (min-width: 992px) {
  .projectSection {
    height: 40vh;
    width: 80%;
    text-align: left;
  }
  .projectSection p {
    padding: 0;
    margin: 0 2rem 2.5rem 0;
  }
  .projectSection h2 {
    font-size: 2rem;
  }
  .infoBox {
    width: 50%;
    height: 300px;
    max-height: 300px;
  }
  .infoBox article {
    margin: 0;
    padding: 0 4rem 0 0;
    font-size: 1.2rem;
  }
  .infoBox .spanLine {
    margin: 1rem 0 1rem 0;
  }
  .projectBox {
    width: 180px;
    height: 300px;
  }
  .mainBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sideProjects {
    width: 50%;
    min-width: 380px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .sideProjects article {
    display: block;
    font-size: 1rem;
    font-family: Poppins, sans-serif, Helvetica;
    font-style: italic;
    width: 80%;
  }
  .sideProjects p {
    margin: 1rem 0 1rem 0.4rem;
  }
  .offerImgUnique {
    width: 180px;
    height: 70px;
    margin: 0 auto 0 auto;
  }
  .offerImgVeggie {
    width: 180px;
    height: 70px;
    margin: 0;
  }
}
/*# sourceMappingURL=Projects.module.css.map */