.skillsSection {
  height: auto;
  text-align: center;
  margin-top: 3rem;
  min-height: 600px;
}

.skillsSection .skillsText {
  margin: 0 2rem 0 2rem;
}

.skillsSection h2 {
  font-family: Poppins, sans-serif, Helvetica;
  font-size: 1.8rem;
  padding-top: 2rem;
}

.skillsSection article {
  margin: 0 auto;
  padding: 1rem;
  font-family: Poppins, sans-serif, Helvetica;
  font-weight: 300;
}

.skillsSection p {
  font-family: Poppins, sans-serif, Helvetica;
  font-weight: 300;
  width: 90%;
  margin: auto auto 2rem auto;
}

.skillsSection .spanLine {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem auto 1rem auto;
  background-color: #fdb550;
  width: 3rem;
  height: 0.4rem;
  border-radius: 10px;
}

@media (max-width: 360px) {
  .skillsSection {
    height: auto;
  }
  .skillsSection .skillsText {
    margin: 1rem 1rem;
  }
  .skillsSection h2 {
    margin-top: 2rem;
    font-size: 1.7rem;
  }
  .skillsSection article {
    font-size: 0.8rem;
  }
  .skillsSection p {
    font-size: 0.8rem;
  }
}

@media (min-width: 600px) {
  .skillsSection {
    width: 100%;
    min-height: 400px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .skillsSection .mainBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 17rem;
    width: 80%;
    min-width: 600px;
  }
  .skillsSection .skillsText {
    margin: 0;
    width: 50%;
    text-align: left;
    height: 13rem;
    max-height: 13rem;
  }
  .skillsSection .skillsText h2 {
    margin: 0;
    padding: 0;
  }
  .skillsSection .skillsText article {
    margin: 0 2rem 0 0;
    padding: 0;
    font-size: 1rem;
    min-width: 250px;
  }
  .skillsSection .skillsText p {
    margin: 1rem 0;
    font-size: 0.9rem;
  }
  .skillsSection .spanLine {
    margin: 1rem 0 1rem 0;
  }
  .additionalMessage {
    padding-right: 5rem;
  }
  .infoTools {
    width: 50%;
    min-width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 992px) {
  .skillsSection {
    height: 30vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2rem;
  }
  .skillsSection .mainBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 4rem;
    height: auto;
    width: 65%;
  }
  .skillsSection .skillsText {
    margin: 0;
    width: 50%;
    text-align: left;
  }
  .skillsSection .skillsText h2 {
    font-size: 2rem;
  }
  .skillsSection .skillsText article {
    margin: 0 8rem 0 0;
    min-width: 18rem;
    font-size: 1.2rem;
  }
  .skillsSection .spanLine {
    margin: 1rem 0 1rem 0;
  }
  .infoTools {
    min-width: 380px;
  }
}

@media (min-width: 1700px) {
  .skillsSection {
    height: 65vh;
    max-width: 2100px;
  }
  .skillsSection .skillsText h2 {
    font-size: 2.7rem;
  }
  .skillsSection .skillsText article {
    font-size: 1.4rem;
  }
  .skillsSection .skillsText p {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=SkillsAndTools.module.css.map */