@import "../../SCSS/variables";
@import "../../SCSS/mediaQueries";
.skillsSection {
  height: auto;
  text-align: center;
  margin-top: 3rem;
  min-height: 600px;
  .skillsText {
    margin: 0 2rem 0 2rem;
  }
  h2 {
    font-family: $font-family;
    font-size: 1.8rem;
    padding-top: 2rem;
  }
  article {
    margin: 1rem auto 0 auto;
    padding: 1rem;
    font-family: $font-family;
    font-weight: 300;
  }
  p {
    font-family: $font-family;
    font-weight: 300;
    width: 90%;
  }
  .spanLine {
    position: relative;
    display: flex;
    margin: 1rem auto 1rem auto;
    background-color: $primary-color;
    width: 3rem;
    height: 0.4rem;
    border-radius: 10px;
  }
}

@media (max-width: $breakpoint-smallPhone) {
  .skillsSection {
    height: 65vh;

    h2 {
      margin-top: 2rem;
      font-size: 1.7rem;
    }
    article {
      margin: 1rem auto auto auto;
    }
  }
}
@media (min-width: $breakpoint-tablet) {
  .skillsSection {
    width: 100%;
    min-height: 500px;
    margin: auto;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    .mainBox {
      display: flex;
      height: 17rem;
      width: 80%;
    }
    .skillsText {
      margin: 0;
      width: 50%;
      text-align: left;
      height: 13rem;
      max-height: 13rem;
    }
    h2 {
      margin: 0;
      padding: 0;
    }
    article {
      margin: 0 2rem 0 0;
      padding: 0;
    }

    .spanLine {
      margin: 1rem 0 1rem 0;
    }
  }
  .infoTools {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (min-width: $breakpoint-smallDesktop) {
  .skillsSection {
    height: 30vh;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    .mainBox {
      display: flex;

      height: auto;
      width: 65%;
    }

    .skillsText {
      margin: 0;
      width: 50%;
      text-align: left;
      h2 {
        font-size: 2rem;
      }
      article {
        margin: 0 8rem 0 0;
        min-width: 18rem;
        font-size: 1.2rem;
      }
      p {
        margin: 0;
      }
    }

    .spanLine {
      margin: 1rem 0 1rem 0;
    }
  }
  .infoTools {
    min-width: 380px;
  }
}
