@import "../../SCSS/mediaQueries";
@import "../../SCSS/variables";
.cooperateInfoBox {
  p {
    font-family: $font-family;
    font-weight: 300;
    margin: 1rem 1.5rem 0 1.5rem;
  }
  h3 {
    margin: 2rem auto 0 auto;
  }
}
.mainBox {
  height: 20vh;
  width: 80%;
  margin: auto;
  text-align: center;
}

@media (max-width: $breakpoint-smallPhone) {
  .cooperateInfoBox {
    p {
      margin: 1rem auto 0 auto;
    }
  }
}
@media (min-width: $breakpoint-tablet) {
  .cooperateInfoBox {
    max-height: 200px;
    h3 {
      text-align: left;
    }
    p {
      text-align: left;
      margin: 1rem 0 0 0;
    }
  }
}

@media (min-width: $breakpoint-smallDesktop) {
  .cooperateInfoBox {
    display: flex;
    width: 100%;
    align-items: center;
    height: 400px;
  }
  .mainBox {
    width: 65%;
    max-width: 1200px;
    margin: auto;
    text-align: left;

    p {
      margin: 1rem 0 2rem 0;
      text-align: left;
    }
  }
}
