@import "../../SCSS/mediaQueries";
@import "../../SCSS/variables";
.cooperateInfoBox {
  p {
    font-family: $font-family;
    font-weight: 200;
    margin: 1rem 1.5rem 0 1.5rem;
  }
  h3 {
    margin: 1rem auto 0 auto;
  }
}
.mainBox {
  height: 20vh;
  width: 80%;
  margin: 2rem auto 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: $breakpoint-smallPhone) {
  .cooperateInfoBox {
    p {
      font-size: 0.8rem;
      margin: 1rem auto 0 auto;
    }
  }
}
@media (min-width: $breakpoint-tablet) {
  .cooperateInfoBox {
    max-height: 180px;
    height: 15vh;
    margin: 0;
    h3 {
      text-align: left;
    }
    p {
      text-align: left;
      margin: 1rem 0 0 0;
    }
    .mainBox {
      display: block;
      min-width: 600px;
    }
  }

  @media (min-width: $breakpoint-smallDesktop) {
    .cooperateInfoBox {
      width: 100%;
      display: flex;
      height: 28vh;
      h3 {
        margin: 1rem 0;
      }

      p {
        margin: 1rem 0 2rem 0;
      }
    }
    .mainBox {
      width: 65%;
      max-width: 1200px;
      margin: auto;
      text-align: left;
      align-items: flex-start;
    }
  }
}

@media (min-width: $breakpoint-bigScreen) {
  .cooperateInfoBox {
    h3 {
      font-size: 1.8rem;
    }
    p {
      font-size: 1.4rem;
    }
  }
}
