.aboutMe_section {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.backgroundBox {
  height: 40%;
  width: 100%;
  background-color: #6769ba;
}

.backgroundBox h2 {
  font: 400 2.7rem Poppins, sans-serif, Helvetica;
  padding-top: 5rem;
  font-family: Poppins, sans-serif, Helvetica;
  color: white;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
}

.backgroundBox .spanLine {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem auto 1rem auto;
  background-color: #fdb550;
  width: 4rem;
  height: 0.4rem;
  border-radius: 10px;
}

.aboutMe_image {
  position: absolute;
  left: 50%;
  top: 25%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.aboutMe_info {
  position: absolute;
  margin-top: 10rem;
  width: 100%;
  padding: 0 3.5rem 0 3.5rem;
  line-height: 1.5rem;
  font-family: Poppins, sans-serif, Helvetica;
  font-weight: 300;
  text-align: center;
}

.aboutMe_text {
  position: relative;
}

.iconsBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.iconsBox img {
  height: 3rem;
  width: 3rem;
  margin: 2.5rem;
}

@media (max-width: 370px) {
  .aboutMe_image {
    width: 12rem;
  }
  .aboutMe_info {
    margin-top: 7rem;
    font-size: 0.8rem;
  }
  .backgroundBox h2 {
    font-size: 2rem;
    padding-top: 3rem;
  }
}

@media (min-width: 600px) {
  .aboutMe_section {
    height: 60vh;
  }
  .aboutMe_section h2 {
    font-size: 2.2rem;
  }
  .backgroundBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .mainBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .emptyBox {
    width: 50%;
    height: 100%;
  }
  .imageBox {
    width: 50%;
    height: 40vh;
  }
  .aboutMe_image {
    height: 15rem;
    width: 35vw;
    left: 29%;
    top: 25%;
  }
  .titleBox {
    height: auto;
    margin: 16vh 0 0 2rem;
  }
  .titleBox h2 {
    padding: 0;
  }
  .titleBox .spanLine {
    margin: 0.8rem 0 0 0;
  }
  .aboutMe_info {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 3rem 0 0;
    text-align: left;
    width: 40%;
    margin: 1rem 0 0 2rem;
  }
}

@media (min-width: 1025px) and (max-height: 1200px) {
  .aboutMe_section {
    height: 90vh;
  }
  .aboutMe_section h2 {
    font-size: 2.4rem;
    padding-top: 6rem;
  }
  .mainBox {
    margin: auto;
    width: 70%;
    min-width: 70%;
    max-width: 1000px;
  }
  .aboutMe_image {
    height: 19rem;
    width: 19rem;
    left: 30%;
    top: 23%;
    padding: 1rem;
  }
  .titleBox {
    margin: 5rem 0 0 0;
  }
  .aboutMe_info {
    margin: 1rem 0 0 0;
    font-size: 1.2rem;
    padding: 0 2rem 0 0;
  }
}
/*# sourceMappingURL=AboutMe.module.css.map */