@import "../SCSS/mediaQueries";
.Card {
  width: 100%;
}
.mainBox {
  text-align: center;
  min-height: 600px;
}

@media (min-width: $breakpoint-tablet) {
  .mainBox {
    width: 80%;
    max-height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}

@media (min-width: $breakpoint-smallDesktop) {
  .mainBox {
    max-height: 1400px;
  }
}
