@import "../SCSS/mediaQueries";
.cooparateInfoBox {
  height: 20vh;
  width: 80%;
  margin: auto;
  text-align: center;
  p {
    margin: 1rem 1.5rem 0 1.5rem;
  }
}

@media (max-width: $breakpoint-smallPhone) {
  .cooparateInfoBox {
    p {
      margin: 1rem auto auto auto;
    }
  }
}
@media (min-width: $breakpoint-tablet) {
  .cooparateInfoBox {
    text-align: left;
    p {
      margin: 1rem 0 0 0;
    }
  }
}

@media (min-width: $breakpoint-smallDesktop) {
  .cooparateInfoBox {
    display: flex;
    justify-content: center;

    align-items: center;
    height: 30vh;
    width: 80%;
  }
  .mainBox {
    max-width: 1000px;
    width: 80%;
    margin: 0 0 2rem 0;
    text-align: center;
    h2 {
      width: 80%;
    }
    p {
      margin: 1rem 0 2rem 0;
    }
  }
}
