@import "../../SCSS/variables";
@import "../../SCSS/mediaQueries";

.navBox {
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 99;
  background: transparent;
}

.menu {
  background: $primary-color;
  width: 100vw;
  display: flex;
  flex-direction: column;

  position: fixed;
  height: 100vh;
  z-index: 15;
  transition: 0.8s ease-in-out;
  transform: translateY(-120%);

  ul {
    list-style: none;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    li {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      margin: 4rem auto 0 auto;
      width: 100%;
      font-size: 1.4rem;
    }
    a {
      width: 70%;
    }
    p {
      margin: 0 2rem;
    }
  }
  .iconsMobileMenu {
    width: 50%;
    margin: auto;

    img {
      margin: 2rem;
    }
  }
  .navItem {
    display: flex;
    cursor: pointer;
    width: 80%;
  }
  .menuIcon {
    width: 20%;
  }
}
.active {
  transform: translateY(0);
}

.hamburgerBox {
  width: 50px;
  height: 50px;
  margin: 1rem 0 1rem 1rem;
  position: fixed;
  right: 5%;
  z-index: 99999;
}

@media (max-width: $breakpoint-smallPhone) {
  .iconBox {
    margin: 0;
  }
  .iconBox {
    margin: 0;
  }
}

@media (min-width: $breakpoint-tablet) {
  .header {
    height: 0vh;
  }
  .hamburgerBox {
    display: none;
  }
  nav {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .menu {
    position: fixed;
    transform: translateY(0);
    transform: translateX(-4rem);
    background: transparent;
    left: 0;
    top: 20%;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    width: 4rem;
    height: 50%;
    background: #fdb550;

    ul {
      height: 100%;
      li {
        width: 2rem;

        margin: 0.5rem auto;
        p {
          margin: 1rem 0;
          color: black;
          font-size: 1.6rem;
          z-index: 9999;
        }
      }
    }
  }

  .menu::after {
    content: "";
    background-image: url(../../images/open-menu.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 0.5rem;
    width: 50px;
    height: 70px;
    position: absolute;
    top: 40%;
    left: 4rem;
    z-index: 1;
    background-color: #fdb550;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .linkName {
    display: none;
  }

  .active {
    transform: translateX(0);
  }
}

@media (min-width: $breakpoint-smallDesktop) {
  .navBox {
    width: 100%;
    height: 10vh;
  }
  .menu {
    height: 60%;
    ul {
      li {
        margin: 1.3rem 0;
      }
    }
  }
  .navItem:hover {
    transform: scale(1.2);
  }
}

@media (min-width: $breakpoint-bigScreen) {
  .menu {
  }
}
