.navBox {
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 99;
  background: transparent;
}

.menu {
  background: #4e4e6e;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  height: 100vh;
  z-index: 15;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
}

.menu ul {
  list-style: none;
  margin-top: 3rem;
}

.menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 3rem;
  text-decoration: none;
}

.menu .menuIcon {
  width: 20%;
}

.menu a {
  width: 80%;
  font-size: 1.5rem;
  color: #fec14f;
}

.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.hamburgerBox {
  width: 50px;
  height: 50px;
  margin: 1rem 0 1rem 1rem;
  position: fixed;
  right: 5%;
  z-index: 99999;
}

.iconBox {
  height: 60px;
  width: 70%;
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.iconBox img {
  width: 60px;
  height: 60px;
}

@media (max-width: 375px) {
  .iconBox {
    margin: 0;
  }
  .iconBox {
    margin: 0;
  }
}

@media (min-width: 600px) {
  .header {
    height: 0vh;
  }
  .hamburgerBox {
    display: none;
  }
  .menu {
    position: fixed;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform: translateX(-4rem);
            transform: translateX(-4rem);
    background: transparent;
    left: 0;
    top: 15%;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    width: 4rem;
    height: 70%;
    background: #fdb550;
  }
  .menu ul {
    margin: 0;
  }
  .menu a {
    color: black;
  }
  .menu::after {
    content: "";
    background-image: url(../../images/open-menu.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 0.5rem;
    width: 50px;
    height: 70px;
    position: absolute;
    top: 40%;
    left: 4rem;
    z-index: 1;
    background-color: #fdb550;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .linkName {
    display: none;
  }
  a {
    width: 200px;
    color: black;
    font-size: 1rem;
    text-align: center;
    z-index: 9999;
  }
  .active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .iconBox {
    display: none;
  }
}

@media (min-width: 992px) and (max-height: 1200px) {
  .navBox {
    width: 100%;
    height: 10vh;
  }
  .menuFixed {
    height: 8vh;
  }
  nav {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav a {
    text-decoration: none;
    color: black;
    font-family: Poppins, sans-serif, Helvetica;
    font-size: 1rem;
    margin: 1rem 2rem 0 2rem;
    cursor: pointer;
  }
}
/*# sourceMappingURL=Nav.module.css.map */